<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.java_sticker">

    <queries>
        <intent>
            <action android:name='com.instagram.share.ADD_TO_STORY' />
            <data android:mimeType='image/*' />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="remove"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:appComponentFactory="true"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />


        <service android:name=".group.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false"
            android:parentActivityName=".group.custom_g_goal_click">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>



        <activity
            android:name=".group.close_add_goal"
            android:exported="true"
            android:theme="@style/MyThemeNoActionBar"/>
        <activity android:name=".group.custom_g_goal_click_main"
            android:exported="true"
            android:theme="@style/MyThemeNoActionBar"/>
        <activity
            android:name=".Account.Signup"
            android:exported="true"
            android:theme="@style/MyThemeNoActionBar" />
        <activity
            android:name=".group.custom_g_goal_click"
            android:theme="@style/MyThemeNoActionBar"
            android:exported="true" />
        <activity
            android:name=".Group_main"
            android:exported="true"
            android:theme="@style/MyThemeNoActionBar" />
        <activity
            android:name=".mypage"
            android:exported="true"
            android:theme="@style/MyThemeNoActionBar" />
        <activity
            android:name=".Account.Login"
            android:exported="true"
            android:theme="@style/MyThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".personal.custom_p_goal_click"
            android:theme="@style/MyThemeNoActionBar"
            android:exported="true" />
        <activity android:name=".gGoalInput.gGoalInputActivity"
            android:theme="@style/MyThemeNoActionBar"
            android:exported="true" />
        <activity
            android:name=".personal.MainActivity"
            android:exported="true"
            android:theme="@style/MyThemeNoActionBar" />
    </application>

</manifest>